:root{
    --color1:#f0f0f0;
    --color2:#333;
    --color3:#555;
    --color4:#3ae4b1;
    --colorLinear:linear-gradient(purple, aqua);
    --fontFamily:"Cascadia Code",sans-serif;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--color1);
    font-family:var(--fontFamily);
}
header{
    background:var(--color3);
    color:var(--color2);
    padding:20px; 
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 5px 5px var(--color4);
    border-radius:50px;
}

header #logo{
    width:70px;
    height:70px;
    border-radius:50px;
}

header nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

header nav ul li a{
    text-decoration:none;
    color:var(--color1);
    font-weight:800;
}
header nav ul li a:hover{
    color:var(--color4);
}

